
*{
box-sizing:border-box;
margin:0;
padding:0;
font-family:Arial,sans-serif;
}

body{
background:#e9ecef;
padding:20px;
display:flex;
justify-content:center;
}

.container{
width:100%;
max-width:520px;
}

.hero{
background:linear-gradient(135deg,#090c39,#2d1d8f);
color:white;
padding:28px;
border-radius:32px;
position:relative;
overflow:hidden;
clip-path:polygon(0 0,100% 0,100% 88%,0 100%);
}

.hero-top{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.logo{
font-size:34px;
font-weight:800;
}

.menu{
font-size:34px;
}

.hero h1{
font-size:64px;
line-height:0.95;
margin-bottom:22px;
}

.hero p{
font-size:22px;
line-height:1.45;
opacity:0.95;
padding-bottom:30px;
}

.badges{
display:grid;
grid-template-columns:1fr 1fr 1fr;
gap:12px;
margin-top:18px;
}

.badge{
background:white;
padding:18px 10px;
border-radius:20px;
text-align:center;
font-weight:700;
}

.form-card{
background:white;
margin-top:18px;
padding:24px;
border-radius:28px;
}

.form-card h2{
margin-bottom:20px;
font-size:34px;
}

.main-btn{
width:100%;
padding:20px;
border:none;
border-radius:20px;
background:black;
color:white;
font-size:22px;
font-weight:700;
margin-bottom:18px;
}

input{
width:100%;
padding:20px;
margin-top:14px;
border:none;
border-radius:18px;
background:#f3f3f3;
font-size:20px;
}

@media(max-width:600px){
.hero h1{
font-size:42px;
}

.hero p{
font-size:16px;
}

.logo{
font-size:24px;
}

.menu{
font-size:28px;
}

.badges{
grid-template-columns:1fr 1fr 1fr;
}

.badge{
font-size:14px;
padding:14px 8px;
}

.form-card h2{
font-size:22px;
}

.main-btn{
font-size:18px;
}
}
