
.cv-wrap{
  background:#dfe3ea;
  border-radius:26px;
  padding:12px;
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:flex-start;
  width:100%;
  max-width:1100px;
  margin:40px auto;
}

.cv{
  background:#fff;
  width:794px;
  min-height:1123px;
  padding:54px 48px;
  position:relative;
  overflow:hidden;
  border-radius:18px;
  box-shadow:0 14px 40px rgba(0,0,0,.10);

  transform:
    translateX(40px)
    scale(.48);

  transform-origin:top left;

  margin-bottom:-565px;
}
